<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="io.guzz.cordova-ios10-geoloation" version="0.0.1">
    <name>Geolocation permissions</name>
    <description>Geolocation permission patches for iOS 10+</description>
    <license>MIT</license>
    <keywords>guzz,cordova</keywords>
    <platform name="ios">
      <config-file platform="ios" target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
        <string>Location Awareness</string>
      </config-file>
    </platform>
</plugin>
